.page {
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  text-rendering: optimizeLegibility;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}