.place__paragraph {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    row-gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    margin: 0 16px;
  }
}