.cover__text {
  position: relative;
  z-index: 2;
  max-width: 560px;
  width: 100%;
  height: auto;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .cover__text {
    max-width: 288px;
  }
}